@model Store.Models.ViewModels.Orders.DetailsOrderVM

@{
    ViewBag.Title = "Details";
}



<div class="container-fluid">

    
    <div class="row">
        <div class="col-md-5">
            <h2>Детаилна информация</h2>
            <p>Поръчка номрер:  @Html.DisplayFor(model => model.Id)</p>
            <div>
                <hr />
                <dl class="row">
                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.ModelName)
                    </dt>

                    <dd class="col-md-7 ">
                        @Html.DisplayFor(model => model.ModelName)
                    </dd>

                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.ClientName)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.ClientName)
                    </dd>

                    <dt  class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.City)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.City)
                    </dd>

                    <dt  class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.School)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.School)
                    </dd>

                    <dt  class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>

                    <dt  class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.DateCreated)
                    </dd>

                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.TestDate)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.TestDate)
                    </dd>

                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.WedingDate)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.WedingDate)
                    </dd>

                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.ChestLap)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.ChestLap)
                    </dd>

                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.PodgradnaLap)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.PodgradnaLap)
                    </dd>

                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.Waist)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.Waist)
                    </dd>

                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.LowWaist)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.LowWaist)
                    </dd>

                    <dt class="col-md-5 text-right">
                        @Html.DisplayNameFor(model => model.CutOutDressWorkerName)
                    </dt>

                    <dd class="col-md-7">
                        @Html.DisplayFor(model => model.CutOutDressWorkerName)
                    </dd>

                </dl>
            </div>

        </div>
        
        <div class="col-md-7">
            <h2>Манипулации</h2>
            @Html.ActionLink("Добави Манипулация", "AddManipulation", new { id = Model.Id }, new { @class = "btn btn-outline-primary btn-lg btn-block" })
            <br>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>
                        @Html.DisplayName("Описание")
                    </th>
                    <th>
                        @Html.DisplayName("Количество")

                    </th>
                    <th>
                        @Html.DisplayName("Необходимо време")

                    </th>
                    <th>
                        @Html.DisplayName("Дата")

                    </th>
                    <th>
                        @Html.DisplayName("Работник")

                    </th>
                    <th>
                        @Html.DisplayName("Категория")

                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model.Manipulations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeNeeded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManipulationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Worker)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditManipulation", new { orderId = Model.Id, manId = item.Id }, new { @class = "btn btn-outline-warning btn-sm" })
                </td>
            </tr>
}

            </table>




        </div>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" }) |
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-outline-warning btn-sm" })
    </p>
</div>